*,
*::before,
*::after
{
    box-sizing: border-box;
}

/* Custom properties */
/* Represents an element that is the root of the document which is html element in index.html */
:root{
    --ff-primary:'Source Sans Pro', sans-serif;
    --ff-secondary:'Source Code Pro', monospace;

    --fw-reg:300;
    --fw-bold:900;

    --clr-light:#fff;
    --clr-dark:#303030;
    --clr-accent:#16e0bd;

    --fs-h1:3rem;
    --fs-h2:2.25rem;
    --fs-h3:1.25rem;
    --fs-body:1rem;
}

@media (min-width:800px){
    :root{
        --fs-h1:4.5rem;
        --fs-h2:3.75rem;
        --fs-h3:1.5rem;
        --fs-body:1.125rem;
    }
}

/* General Styles */

body{
    background-color: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);    
    line-height: 1.6;
}

img{
    /* display block on img fixes some extra spacing issues on img */
    display: block;
    /* will not flow outside of its container */
    max-width: 100%;
}

/* Typography */

h1,
h2,
h3{
    margin: 0;
    line-height: 1;
}

section{
    padding: 5em 2em;
}

strong{font-weight: var(--fw-bold);}

h1{font-size: var(--fs-h1);}
h2{font-size: var(--fs-h2);}
h3{font-size: var(--fs-h3);}

.section__title{
    margin-bottom: .25em;
}

.section__title--intro{
    font-weight: var(--fw-reg);
}

.section__title--intro strong{
    display: block;
}

.section__subtitle{
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about{
    background-color: var(--clr-accent);
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}

/* Header section */
.nav{
    display: none;
}

/* Intro section */

.intro{
    position: relative;
}

@media (min-width:600px){
   .intro{
        display: grid;
        width: min-content; 
        margin: 0 auto;
        grid-column-gap:1em;
        grid-template-areas: 
        "img title"
        "img subtitle";
        grid-template-columns: min-content max-content;
   }

   .intro__img{
    grid-area: img;
    min-width: 250px;
    z-index: 2;
   }
   
   .section__subtitle--intro{
    /* align-self: start; */
    grid-column: 1/-1;
    /* grid-row: 2; */
    text-align: right;
    position: absolute;
    bottom:5em;
    right:0;
    width: 105%;
   }
}
