*,
*::before,
*::after
{
    box-sizing: border-box;
}

/* Custom properties */
/* Represents an element that is the root of the document which is html element in index.html */
:root{
    --ff-primary:'Source Sans Pro', sans-serif;
    --ff-secondary:'Source Code Pro', monospace;

    --fw-reg:300;
    --fw-bold:900;

    --clr-light:#fff;
    --clr-dark:#303030;
    --clr-accent:#16e0bd;

    --fs-h1:3rem;
    --fs-h2:2.25rem;
    --fs-h3:1.25rem;
    --fs-body:1rem;
    /* box shadow:horizontal vertical blur color,2nd bs applying a layer of bs on top of 1st */
    --bs:0.25em 0.25em 0.75em rgba(0,0,0,.25),
        0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (min-width:800px){
    :root{
        --fs-h1:4.5rem;
        --fs-h2:3.75rem;
        --fs-h3:1.5rem;
        --fs-body:1.125rem;
    }
}

/* General Styles */
html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);    
    line-height: 1.6;
}

img{
    /* display block on img fixes some extra spacing issues on img */
    display: block;
    /* will not flow outside of its container */
    max-width: 100%;
}

/* Typography */

h1,
h2,
h3{
    margin: 0;
    line-height: 1;
}

section{
    padding: 5em 2em;
}

strong{font-weight: var(--fw-bold);}
/* Buttons */
/* for all focus elements basically links and btns on tapping tab */
:focus{
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

.btn{
    display: inline-block;
    cursor: pointer;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: var(--clr-accent);
    color: var(--clr-dark);
    padding: 0.5em 2.5em;
    text-decoration: none;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}

.btn:hover{
    transform: scale(1.1);
}


h1{font-size: var(--fs-h1);}
h2{font-size: var(--fs-h2);}
h3{font-size: var(--fs-h3);}

.section__title{
    margin-bottom: .25em;
}

.section__title--intro{
    font-weight: var(--fw-reg);
    /* flex-wrap: wrap; */
    max-width: 400px;
}

.section__title--intro strong{
    display: block;
}

.section__subtitle{
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about{
    background-color: var(--clr-accent);
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
    padding: .25em 1em;
}

/* Header section */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    position: relative;
    
}

.logo{
    max-width: 150px;
}

.nav-toggle{
    cursor: pointer;
    align-self: center;
}

.nav{
    /* display: none; */
    box-shadow: var(--bs);
    position: absolute;
    top: 3.7em;
    right: 0;
    background-color: var(--clr-light);

}

.nav__list{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;   
}

.nav__item:not(.nav__item:last-child){
    border-bottom: 1px solid rgba(17, 17, 17, 0.087);
}

/* .nav__item{
    padding: 0;
    margin: 0;
} */
.nav__link{
    width: 100%;
    display: inline-block;
    padding: 0.5em 1.25em;
}

.nav__link:hover{
    color: var(--clr-accent);
}

.nav__link{
    text-decoration: none;
    font-weight: var(--fw-bold);
    color: inherit;
}

/* Intro section */

/* .intro{
    position: relative;
} */
.intro__img{
    box-shadow: var(--bs);
}

.section__subtitle--intro{
    display: inline-block;
    text-transform: uppercase;
}

@media (min-width:600px){
   .intro{
        display: grid;
        width: min-content; 
        margin: 0 auto;
        grid-column-gap:1em;
        grid-template-areas: 
        "img title"
        "img subtitle";
        grid-template-columns: min-content max-content;
   }

   .intro__img{
    grid-area: img;
    min-width: 250px;
    /* both works to be at top */
    position: relative;
    z-index: 2;
   }
   
   .section__subtitle--intro{
    align-self: start;
    grid-column: 1/-1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em; 
    width: calc(100% + 1.5em);
   }
}

/* My services section */

.my-services{
    background-color: var(--clr-dark);
    background-image: url(../img/services-bg.jpg);
    background-size: cover;
    background-position: center;
    color: var(--clr-light);
    /* background-blend-mode: multiply; */
    text-align: center;
}

.section__title--services{
    color: var(--clr-accent);
    position: relative;
}
/* Pseudo element */
.section__title--services::after{
    content: '';
    display: block;
    width: 2em;
    height: 2px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.25;
}

.services{
    margin-bottom: 4em;
}

.service{
    max-width: 500px;
    margin: 0 auto;
}

@media(min-width:800px){
    .services{
        display: flex;
        gap: 2em;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto; 
    }
}

/* About me section */

.about-me{
    max-width: 1000px;
    margin: 0 auto;
}

.about-me__img{
    box-shadow: var(--bs);
}

@media (min-width:600px){
    .about-me{
        display: grid;
        column-gap: 2em;
        grid-template-columns: 1fr 200px;
        grid-template-areas: 
        "title img"
        "subtitle img"
        "text img";
    }

    .section__title--about{
        grid-area: title;
    }
    .section__subtitle--about{
        grid-column: 1/-1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        /* padding-left: 1em; */
        /* +4em */
        padding-right: calc(200px + 2em);
    }
    .about-me__img{
        grid-area: img;
        position: relative;
        z-index: 2;
        /* grid-row: 1/-1; */
    }
    .about-me__body{
        grid-area: text;
    }

}

/* My Work */
.my-work{
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;
}
/* can be put on typography section cos no layout is changing in here */
.section__subtitle--work{
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}
/* using grid to make this section responsive as we won't require media queries
if we use grid here */
.portfolio{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 1em;
}

.portfolio__item{
    background-color: var(--clr-accent);
    /* to avoid popping out of img out of its grid when we are using transform 
    on hover */
    overflow: hidden;
}

.portfolio__img{
    transition: transform 750ms cubic-bezier(0.075, 0.82, 0.165, 1),
                opacity 250ms linear;
    object-fit: cover;
    height: 100%;
}
/* to keep borders popping out to be always at top if img are too close
cos borders can become invisible */
.portfolio__item:focus{
    position: relative;
    z-index: 2;
}
/* can't apply focus on img so instead we use on img parent which is a link */
.portfolio__img:hover,
.portfolio__item:focus .portfolio__img
{
    transform: scale(1.2);
    opacity: .5;
}

/* Individual portfolio items */
.portfolio-item-individual{
    padding: 0 2em 2em;
    max-width: 1000px;
    margin: 0 auto;
}

.portfolio-item-individual__img{
    margin: 0 auto;
    box-shadow: var(--bs);
    /* align-self: center; */
    height: 100%;
    object-fit: cover;
}

.portfolio-item-individual p{
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.portfolio-item-individual__img-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 1em;
}

.project-link{
    text-decoration: none;
    color: var(--clr-dark);
    font-weight: var(--fw-bold);
}
.project-link:hover{
    text-decoration: underline;
    opacity: 0.9;
}

.project-link:focus{
    outline: 3px solid var(--clr-dark);    
}
/* Footer */

.footer{
    background-color: #111;
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);
}

.footer__link{
    font-weight: var(--fw-bold);
    color: inherit;
    text-decoration: none;
}

.social-list__link:hover,
.footer__link:hover
{
    opacity: 0.7;
}

.footer__link:hover{
    text-decoration: underline;
}

.social-list{
    list-style: none;
    display: flex;
    gap: 1em;
    justify-content: center;
    padding: 0;
    margin: 2em 0 0;
}

.social-list__link{
    padding: 0.5em;
    color: inherit;
}



